<% title t("views.clients.log_book_events.title", :name => @client.name) %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t("layouts.breadcrumbs.clients"), :admin_clients %></li>
    <li class="breadcrumb-item"><%= link_to @client.name, [:admin, @client] %></li>
    <li class="breadcrumb-item active"><%= t("layouts.breadcrumbs.log_book_events") %></li>
  </ol>
</nav>

<%= render partial: "menu", locals: { active: "log_book_events" }  %>

<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t "views.client.sections.log_book_events" %>
    </h3>
  </div>

  <div class="panel-body">
    <%= render partial: "admin/log_book_events/list", locals: { log_book_events: @log_book_events } %>
  </div>
</section>
