<div class="card mb-9">
  <div class="card-body">
    <h1 class="lh-sm fs-6 fs-xxl-4 mb-2"><%= alert.name %></h1>
    <p class="fs-8 mb-4 text-body-tertiary"><%= alert.prompt %></p>
    <div class="card mb-5 mb-xxl-7">
      <div class="card-body">
        <div class="row gy-5">
          <div class="col-md-6">
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <div class="px-2 py-1 bg-primary-subtle rounded">
                  <i class="bi bi-calendar text-primary"></i>
                </div>
                <h5 class="ms-2 mb-0">Schedule</h5>
              </div>
            </div>
            <p class="lh-sm mb-0 text-body-tertiary"><%= alert.schedule %><br /><%= alert.schedule_to_human %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-12 col-md-auto flex-md-grow-1">
        <%= link_to process_alert_front_alert_path(alert), class: "btn btn-primary w-100" do %>
          <i class="bi bi-gear"></i> <i class="bi bi-send me-2"></i>
          Process and send
        <% end %>
      </div>
      <div class="col-12 col-sm-auto flex-sm-grow-1 flex-md-grow-0">
        <%= link_to edit_front_alert_path(alert), class: "btn btn-phoenix-primary w-100" do %>
          <i class="bi bi-pencil-square me-2"></i> Edit
        <% end %>
      </div>
      <div class="col-6 col-sm-auto">
        <%= button_to front_alert_path(alert), class: "btn btn-phoenix-warning w-100", method: :delete do %>
          <i class="bi bi-trash me-2"></i> Delete
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="row g-0 py-3 border-bottom border-dashed align-items-end justify-content-between">
  <div class="col-auto">
    <h3 class="flex-1 mb-0 text-nowrap me-3">Recent emails sent</h3>
  </div>
  <div class="col-auto"><a class="fw-bold fs-9" href="#!">See more</a></div>
</div>

<% alert.alert_emails.order_by_recent.each do |alert_email| %>
<div class="py-3 border-bottom border-translucent border-dashed">
  <div class="d-flex flex-between-center">
    <p class="text-warning fs-10 mb-0 fw-bold mb-1"><%= formatted_date_or_empty(alert_email.created_at) %></p>
  </div>
  <a class="text-primary-hover text-body-highlight fw-bold mb-2 line-clamp-e me-5 lh-base" href="#!">
    <%= alert_email.subject %>
  </a>
  <p class="text-body-secondary fs-9 mb-2"><%= alert_email.from%> -> <%= alert_email.to %>  </p>
  <p class="fs-10 text-body-tertiary text-opacity-85">
    <%= markdown(alert_email.content) %>
  </p>
</div>
<% end %>
