<% title t("views.front_sessions.new.title") %>

<div class="row flex-center min-vh-100 py-5">
  <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
    <a class="d-flex flex-center text-decoration-none mb-4" href="/">
      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
        <%= image_tag "phoenix/assets/img/icons/logo.png", width: 58%>
      </div>
    </a>
    <div class="text-center mb-7">
      <h3 class="text-body-highlight">Sign In</h3>
      <p class="text-body-tertiary">Get access to your account</p>
    </div>
    <button class="btn btn-phoenix-secondary w-100 mb-3"><span class="fab fa-google text-danger me-2 fs-9"></span>Sign in with google</button>
    <button class="btn btn-phoenix-secondary w-100"><span class="fab fa-facebook text-primary me-2 fs-9"></span>Sign in with facebook</button>
    <div class="position-relative">
      <hr class="bg-body-secondary mt-5 mb-4" />
      <div class="divider-content-center">or use email</div>
    </div>

    <%= form_for [:front, @front_session] do |f| %>
      <%= render "/shared/form_errors" , :object=> f.object %>
      <div class="mb-3 text-start">
        <%= f.label :email, class: "form-label" %>
        <div class="form-icon-container">
          <%= f.text_field :email, class: "form-control form-icon-input", type: "email", placeholder: t("activerecord.attributes.front_user.email"), ariaDescribedby: "emailHelp", required: true %>
          <span class="fas fa-user text-body fs-9 form-icon"></span>
        </div>
      </div>
      <div class="mb-3 text-start">
        <%= f.label :password, class: "form-label" %>
        <div class="form-icon-container" data-password="data-password">
          <%= f.text_field :password, class: "form-control form-icon-input pe-6", type: "password", placeholder: t("activerecord.attributes.front_user.password"), ariaDescribedby: "passwordHelp", required: true, "data-password-input" => "data-password-input" %>
          <span class="fas fa-key text-body fs-9 form-icon"></span>
          <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
        </div>
      </div>
      <div class="row flex-between-center mb-7">
        <div class="col-auto">
          <div class="form-check mb-0">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label mb-0" %>
          </div>
        </div>
        <div class="col-auto"><a class="fs-9 fw-semibold" href="../../../pages/authentication/simple/forgot-password.html">Forgot Password?</a></div>
      </div>
      <%= f.submit "Sign in", class: "btn btn-primary w-100 mb-3" %>
    <% end %>
    <div class="text-center"><a class="fs-9 fw-bold" href="../../../pages/authentication/simple/sign-up.html">Create an account</a></div>
  </div>
</div>
