<div class="d-flex">
  <% if !message.user_reaction_negative? %>
    <% if message.user_reaction_positive? %>
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="Positive reaction added"
      >
        <a
          href="#"
          class="icon-link pe-none ps-0 pe-2"
        >
          <i class="bi bi-hand-thumbs-up-fill"></i>
        </a>
      </span>
    <% else %>
      <%=
        button_to(
          front_message_user_reactions_path(message, user_reaction: { kind: UserReaction.kinds[:positive] }),
          method: :post,
          class: "btn btn-link icon-link ps-0 pe-2 on-hover",
          data: {
            turbo: true
          },
          form: {
            "data-type": "turbo_stream",
            "data-turbo": true
          }
        ) do
      %>
        <i class="bi bi-hand-thumbs-up"></i>
      <% end %>
    <% end %>
  <% end %>

  <% if !message.user_reaction_positive? %>
    <% if message.user_reaction_negative? %>
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="Negative reaction added. <%= @message.user_reaction_negative_explanation %>"
      >
        <a
          href="#"
          class="icon-link pe-none"
        >
          <i class="bi bi-hand-thumbs-down-fill"></i>
        </a>
      </span>
    <% else %>
      <a
        href="#" class="icon-link on-hover"
        data-bs-toggle="modal"
        data-bs-target="#negative-reaction-modal-<%= message.id %>">
        <i class="bi bi-hand-thumbs-down"></i>
      </a>
      <%= render partial: "front/messages/negative_reaction_modal", locals: { message: } %>
    <% end %>
  <% end %>

  <a
    href="#"
    class="icon-link icon-link-hover ms-auto text-decoration-none on-hover"
    style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
    data-controller="copy-to-clipboard"
    data-action="click->copy-to-clipboard#copy"
    data-copy-to-clipboard-element-to-copy-value="#message-<%= message.id %> .message-body"
  ><i class="bi bi-copy"></i> Copy</a>
</div>
