<%=
  form_for(
    [:front, conversation, message],
    data: {
      controller: "message-form",
      action: "turbo:submit-end->message-form#submitEnd turbo:submit-start->message-form#submitStart",
      turbo: true
    }
  ) do |f|
%>
  <%= render "/shared/form_errors", :object => f.object %>

  <div class="message-form mb-3">
    <div class="input-group">
      <%=
        f.text_area(
          :content,
          class: "form-control bg-dark-subtle text-dark-emphasis",
          placeholder: "Ask anything",
          autofocus: true,
          data: { controller: "submit-on-cmd-enter" }
        )
      %>
      <%= f.button(class: "btn btn-primary") do %>
        <span class="badge rounded-pill text-bg-light">ctr+&#9166;</span>
        <i class="bi bi-send fs-5 ms-1 on-no-disabled"></i>
        <i class="bi bi-hourglass-split fs-5 ms-1 on-disabled"></i>
      <% end %>
    </div>

    <div class="row row-cols-lg-auto g-3 justify-content-end mt-3 debug-element">
        <div class="col-12 mt-0">
          <div class="form-floating">
            <%=
              f.select(
                :model,
                AI_CLIENT.models,
                { include_blank: "auto" },
                class: "form-select"
              )
            %>
            <%= f.label :model %>
          </div>
        </div>

        <div class="col-12 mt-2 mt-lg-0">
          <div class="form-floating">
            <%=
              f.select(
                :role,
                Message.roles,
                {},
                class: "form-select"
              )
            %>
            <%= f.label :role %>
          </div>
        </div>
    </div>
  </div>
<% end %>
