<%=
  form_for(
    [:front, @conversation, @message],
    data: {
      controller: "message-form",
      action: "turbo:submit-end->message-form#submitEnd turbo:submit-start->message-form#submitStart"
    }
  ) do |f|
%>
  <%= render "/shared/form_errors", :object => f.object %>

  <div class="message-form mb-3">
    <div class="input-group">
      <%=
        f.text_area(
          :content,
          class: "form-control",
          placeholder: "Ask anything",
          autofocus: true,
          data: { controller: "submit-on-cmd-enter" }
        )
      %>
      <%= f.button(class: "btn btn-primary") do %>
        <span class="badge rounded-pill text-bg-light">ctr+&#9166;</span>
        <i class="bi bi-send fs-5 ms-1 on-no-disabled"></i>
        <i class="bi bi-hourglass-split fs-5 ms-1 on-disabled"></i>
      <% end %>
    </div>

    <div class="row mt-3">
      <div class="col">
        <div class="col row">
          <%= f.label :model, class: "col-5 col-form-label text-end"%>
          <div class="col-7">
            <%= f.select :model, AI_CLIENT.models, {include_blank: 'auto'}, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="col row">
        <%= f.label :role, class: "col-9 col-form-label text-end"%>
        <div class="col-3">
          <%= f.select :role, Message.roles, {}, class: "form-control" %>
        </div>
      </div>

    </div>
  </div>
<% end %>
