<%=
  form_for(
    [:front, @conversation, @message],
    data: {
      controller: "message-form",
      action: "turbo:submit-end->message-form#submit"
    }
  ) do |f|
%>
  <%= render "/shared/form_errors", :object => f.object %>

  <div class="message-form mb-3">
    <div class="input-group">
      <%= f.text_area :content, class: "form-control", placeholder: "Ask anything", autofocus: true %>
      <%= f.button(class: "btn btn-primary") do %>
        <i class="bi bi-send fs-5 ms-1"></i>
      <% end %>
    </div>

    <div class="row mt-3">
      <%= f.label :role, class: "col-9 col-form-label text-end"%>
      <div class="col-3">
        <%= f.select :role, Message.roles, {}, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>
