<%= turbo_frame_tag message do %>
  <div class="message mt-3 d-flex flex-row role-<%= message.role %> language-<%= message.content_language %>" id="message-<%= message.id %>" data-order="<%= message.order %>">
    <div class="card <%= message_card_classes_by_role(message.role)%>">
      <div class="card-body">
        <div class="d-flex flex-row mb-2 message-id on-hover">
          <a href="#message-<%= message.id %>" data-turbo="false">
            <i class="bi bi-link"></i>
          </a>

          <%= link_to front_message_path(message), class: "ms-auto", data: { turbo: false }  do %>
            <span class="badge text-bg-light"><%= message.id %></span>
          <% end %>
        </div>

        <div class="message-body mb-1">
          <% if message.content.present? %>
            <div class="card-text message-content">
              <%= message_content(message) %>
            </div>
          <% end %>

          <% if message.tool_calls.present? %>
            <h3>Tool calls</h3>
            <% message.tool_calls.each do |tool_call| %>
              <%= render partial: "/front/messages/tool_call", locals: { tool_call:, message: } %>
            <% end %>
          <% end %>

          <% if message.tool_call_id.present? %>
            <p class="card-text  message-tool-call-id">
              <%= message.tool_call_id %>
            </p>
          <% end %>
        </div>

        <div class="d-flex on-hover">
          <div class="p-0 me-3 fs-10 fw-bolder">
            <i class="bi bi-person-fill"></i>
            <%= message.role %>
          </div>

          <% if message.model %>
            <div class="p-0 fs-10 me-3 fw-bolder">
              <i class="bi bi-robot"></i>
              <%= message.model%>
            </div>
          <% end %>
        </div>

        <footer class="blockquote-footer mt-1"><%= message.created_at.to_formatted_s(:short) %></footer>

        <% if message.role != "user" %>
          <hr>
          <div class="d-flex flex-row on-hover">
            <a href="#" class="icon-link"><i class="bi bi-hand-thumbs-up"></i></a>
            <a href="#" class="icon-link ms-1"><i class="bi bi-hand-thumbs-down"></i></a>

            <a href="#" class="icon-link" data-bs-toggle="modal" data-bs-target="#negative-reaction-modal">
              <i class="bi bi-hand-thumbs-down"></i>
            </button>
            <a
              href="#"
              class="icon-link icon-link-hover ms-auto text-decoration-none"
              style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
              data-controller="copy-to-clipboard"
              data-action="click->copy-to-clipboard#copy"
              data-copy-to-clipboard-element-to-copy-value="#message-<%= message.id %> .message-body"
            ><i class="bi bi-copy"></i> Copy</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
