<%= turbo_frame_tag message do %>
  <div class="message mt-3 d-flex flex-row role-<%= message.role %>" id="message-<%= message.id %>">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row mb-2 message-id on-hover">
          <a href="#message-<%= message.id %>" data-turbo="false">
            <i class="bi bi-link"></i>
          </a>

          <%= link_to front_message_path(message), class: "ms-auto", data: { turbo: false }  do %>
            <span class="badge text-bg-light"><%= message.id %></span>
          <% end %>
        </div>
        <% if message.content.present? %>
          <div class="card-text message-content">
            <%= markdown(message.content) %>
          </div>
        <% end %>

        <% if message.tool_calls.present? %>
          <h3>Tool calls</h3>
          <% message.tool_calls.each do |tool_call| %>
            <%= render partial: "/front/messages/tool_call", locals: { tool_call: tool_call } %>
          <% end %>
        <% end %>

        <% if message.tool_call_id.present? %>
          <p class="card-text  message-tool-call-id">
            <%= message.tool_call_id %>
          </p>
        <% end %>

        <% if message.role != "user" %>
          <footer class="blockquote-footer"><%= message.role %></footer>
        <% end %>

        <% if message.role != "user" %>
          <hr>
          <div class="d-flex flex-row">
            <a href="#" class="icon-link" style="--bs-link-hover-color-rgb: var(--bs-link-hover-color)"><i class="bi bi-hand-thumbs-up"></i></a>
            <a href="#" class="icon-link ms-1" style="--bs-link-hover-color-rgb: var(--bs-link-hover-color)"><i class="bi bi-hand-thumbs-down"></i></a>
            <a href="#" class="icon-link icon-link-hover ms-auto text-decoration-none" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="bi bi-copy"></i> Copy</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
