<%= turbo_frame_tag message do %>
  <div class="card mt-2 message-card role-<%= message.role %> col-10 <%= message.role == "user" ? "ms-auto text-end bg-info-subtle" : "me-auto bg-warning-subtle" %>">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= message.content %> | <%= message.tool_calls.join(",") %> | <%= message.tool_call_id %></p>
        <footer class="blockquote-footer"><%= message.role %></footer>
      </blockquote>
    </div>
  </div>
<% end %>
