<dl>
  <dt>ID</dt>
  <dd><%= tool_call["id"] %></dd>
  <dt>Type</dt>
  <dd><%= tool_call["type"] %></dd>
  <dt>Function.name</dt>
  <dd><%= tool_call["function"]["name"] %></dd>
  <dt>Function.arguments</dt>
  <dd>
    <pre><code
      id="message-<%= message.id %>-tool-call-<%= tool_call["id"] %>"
      class="language-<%= Message.extract_function_arguments_language(tool_call) %>"
      data-controller="conde-syntax-highlighter"
      ><%= Message.extract_function_arguments(tool_call) %></code></pre>
    <div class="d-flex flex-row on-hover code-copy-icon">
      <a
        href="#"
        class="icon-link icon-link-hover ms-auto text-decoration-none"
        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
        data-controller="copy-to-clipboard"
        data-action="click->copy-to-clipboard#copy"
        data-copy-to-clipboard-element-to-copy-value="#message-<%= message.id %>-tool-call-<%= tool_call["id"] %>"
      ><i class="bi bi-copy"></i> Copy</a>
    </div>
  </dd>
</dl>
