<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- ===============================================-->
<!--    Document Title-->
<!-- ===============================================-->
<title>DashboardChatbot <%= "| #{yield(:title)}" if content_for?(:title) %></title>

<!-- ===============================================-->
<!--    Favicons-->
<!-- ===============================================-->
<link rel="shortcut icon" href="<%= image_path("logo.png") %>">

<!-- Rails -->
<%= csrf_meta_tag %>
<%= csp_meta_tag %>

<!-- application -->
<%= stylesheet_link_tag "application.css" %>
<%= stylesheet_link_tag "shared.css" %>
<%= stylesheet_link_tag "front.css" %>
<%= stylesheet_link_tag "chat.css" %>

<%= javascript_importmap_tags %>
<%= yield(:head) %>
