<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">



<!-- ===============================================-->
<!--    Document Title-->
<!-- ===============================================-->
<title>DashboardChatbot <%= "| #{yield(:title)}" if content_for?(:title) %></title>


<!-- ===============================================-->
<!--    Favicons-->
<!-- ===============================================-->
<link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("phoenix/assets/img/favicons/apple-touch-icon.png") %>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= image_path("phoenix/assets/img/favicons/favicon-32x32.png") %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%= image_path("phoenix/assets/img/favicons/favicon-16x16.png") %>">
<link rel="shortcut icon" href="<%= image_path("logo.png") %>">
<link rel="manifest" href="<%= image_path("phoenix/assets/img/favicons/manifest.json") %>">
<meta name="msapplication-TileImage" content="<%= image_path("phoenix/assets/img/favicons/mstile-150x150.png") %>">
<meta name="theme-color" content="#ffffff">

<%= javascript_include_tag "phoenix/vendors/simplebar/simplebar.min.js" %>
<%= javascript_include_tag "phoenix/assets/js/config.js" %>

<!-- ===============================================-->
<!--   Theme Stylesheets-->
<!-- ===============================================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

<%= stylesheet_link_tag "phoenix/vendors/simplebar/simplebar.min.css" %>
<%= stylesheet_link_tag "phoenix/assets/css/theme-rtl.min.css", id: "style-rtl" %>
<%= stylesheet_link_tag "phoenix/assets/css/theme.min.css", id: "style-default" %>
<%= stylesheet_link_tag "phoenix/assets/css/user-rtl.min.css", id: "user-style-rtl" %>
<%= stylesheet_link_tag "phoenix/assets/css/user.min.css", id: "user-style-default" %>

<script>
  var phoenixIsRTL = window.config.config.phoenixIsRTL;
  if (phoenixIsRTL) {
    var linkDefault = document.getElementById('style-default');
    var userLinkDefault = document.getElementById('user-style-default');
    linkDefault.setAttribute('disabled', true);
    userLinkDefault.setAttribute('disabled', true);
    document.querySelector('html').setAttribute('dir', 'rtl');
  } else {
    var linkRTL = document.getElementById('style-rtl');
    var userLinkRTL = document.getElementById('user-style-rtl');
    linkRTL.setAttribute('disabled', true);
    userLinkRTL.setAttribute('disabled', true);
  }
</script>

<%= stylesheet_link_tag "phoenix/vendors/leaflet/leaflet.css" %>
<%= stylesheet_link_tag "phoenix/vendors/leaflet.markercluster/MarkerCluster.css" %>
<%= stylesheet_link_tag "phoenix/vendors/leaflet.markercluster/MarkerCluster.Default.css" %>

<!-- Rails -->
<%= csrf_meta_tag %>
<%= csp_meta_tag %>

<!-- application -->
<%= stylesheet_link_tag "application.css" %>
<%= stylesheet_link_tag "shared.css" %>
<%= stylesheet_link_tag "front.css" %>

<%= javascript_importmap_tags %>
<%= yield(:head) %>
