<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarTop">
  <div class="navbar-logo">

    <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="../index.html">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center">
          <%= image_tag("phoenix/assets/img/icons/logo.png", width: 2) %>
          <h5 class="logo-text ms-2 d-none d-sm-block">phoenix</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center" id="navbarTopCollapse">
    <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">

      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
        <span class="uil fs-8 me-2 uil-chart-pie">
        </span>Conversations</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
          <li>
            <%= link_to front_conversations_path, class: "dropdown-item", data: {turbo: false} do %>
              <div class="dropdown-item-wrapper">
                <span class="me-2 uil" data-feather="shopping-cart"></span>
                All
              </div>
            <% end %>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <div class="dropdown-item-wrapper">
                <span class="me-2 uil" data-feather="clipboard"></span>
                Add new conversation
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
        <span class="uil fs-8 me-2 uil-chart-pie">
        </span>Alerts</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
          <li>
            <a class="dropdown-item" href="#">
              <div class="dropdown-item-wrapper">
                <span class="me-2 uil" data-feather="shopping-cart"></span>
                All
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
        <span class="uil fs-8 me-2 uil-document-layout-right">
        </span>Documentation</a>
        <ul class="dropdown-menu navbar-dropdown-caret">
          <li><a class="dropdown-item" href="../documentation/getting-started.html">
              <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="life-buoy"></span>Getting started
              </div>
            </a>
          </li>
          <li class="dropdown dropdown-inside"><a class="dropdown-item dropdown-toggle" id="customization" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
              <div class="dropdown-item-wrapper"><span class="uil fs-8 uil-angle-right lh-1 dropdown-indicator-icon"></span><span><span class="me-2 uil" data-feather="settings"></span>Customization</span></div>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../documentation/customization/configuration.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Configuration
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/customization/styling.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Styling
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/customization/color.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Color
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/customization/dark-mode.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Dark mode
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/customization/plugin.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Plugin
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-inside"><a class="dropdown-item dropdown-toggle" id="layouts-doc" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
              <div class="dropdown-item-wrapper"><span class="uil fs-8 uil-angle-right lh-1 dropdown-indicator-icon"></span><span><span class="me-2 uil" data-feather="table"></span>Layouts doc</span></div>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../documentation/layouts/vertical-navbar.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Vertical navbar
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/layouts/horizontal-navbar.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Horizontal navbar
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/layouts/combo-navbar.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Combo navbar
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="../documentation/layouts/dual-nav.html">
                  <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Dual nav
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-item" href="../documentation/gulp.html">
              <div class="dropdown-item-wrapper"><span class="me-2 fa-brands fa-gulp ms-1 me-1 fa-lg"></span>Gulp
              </div>
            </a>
          </li>
          <li><a class="dropdown-item" href="../documentation/design-file.html">
              <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="figma"></span>Design file
              </div>
            </a>
          </li>
          <li><a class="dropdown-item" href="../changelog.html">
              <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="git-merge"></span>Changelog
              </div>
            </a>
          </li>
          <li><a class="dropdown-item" href="../showcase.html">
              <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="monitor"></span>Showcase
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-nav-icons flex-row">
    <li class="nav-item">
      <div class="theme-control-toggle fa-icon-wait px-2">
        <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
        <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme" style="height:32px;width:32px;"><span class="icon" data-feather="moon"></span></label>
        <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme" style="height:32px;width:32px;"><span class="icon" data-feather="sun"></span></label>
      </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchBoxModal"><span data-feather="search" style="height:19px;width:19px;margin-bottom: 2px;"></span></a></li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" style="min-width: 2.25rem" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside"><span class="d-block" style="height:20px;width:20px;"><span data-feather="bell" style="height:20px;width:20px;"></span></span></a>

      <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret" id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
        <div class="card position-relative border-0">
          <div class="card-header p-2">
            <div class="d-flex justify-content-between">
              <h5 class="text-body-emphasis mb-0">Notifications</h5>
              <button class="btn btn-link p-0 fs-9 fw-normal" type="button">Mark all as read</button>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="scrollbar-overlay" style="height: 27rem;">
              <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
                <div class="d-flex align-items-center justify-content-between position-relative">
                  <div class="d-flex">
                    <div class="avatar avatar-m status-online me-3"><%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle") %>
                    </div>
                    <div class="flex-1 me-sm-3">
                      <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                      <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">10m</span></p>
                      <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:41 AM </span>August 7,2021</p>
                    </div>
                  </div>
                  <div class="dropdown notification-dropdown">
                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                  </div>
                </div>
              </div>
              <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                <div class="d-flex align-items-center justify-content-between position-relative">
                  <div class="d-flex">
                    <div class="avatar avatar-m status-online me-3">
                      <div class="avatar-name rounded-circle"><span>J</span></div>
                    </div>
                    <div class="flex-1 me-sm-3">
                      <h4 class="fs-9 text-body-emphasis">Jane Foster</h4>
                      <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>📅</span>Created an event.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">20m</span></p>
                      <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:20 AM </span>August 7,2021</p>
                    </div>
                  </div>
                  <div class="dropdown notification-dropdown">
                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                  </div>
                </div>
              </div>
              <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                <div class="d-flex align-items-center justify-content-between position-relative">
                  <div class="d-flex">
                    <div class="avatar avatar-m status-online me-3">
                      <%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle avatar-placeholder") %>
                    </div>
                    <div class="flex-1 me-sm-3">
                      <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                      <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">1h</span></p>
                      <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:30 AM </span>August 7,2021</p>
                    </div>
                  </div>
                  <div class="dropdown notification-dropdown">
                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                  </div>
                </div>
              </div>
              <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                <div class="d-flex align-items-center justify-content-between position-relative">
                  <div class="d-flex">
                    <div class="avatar avatar-m status-online me-3"><%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle") %>
                    </div>
                    <div class="flex-1 me-sm-3">
                      <h4 class="fs-9 text-body-emphasis">Kiera Anderson</h4>
                      <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                      <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:11 AM </span>August 7,2021</p>
                    </div>
                  </div>
                  <div class="dropdown notification-dropdown">
                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                  </div>
                </div>
              </div>
              <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                <div class="d-flex align-items-center justify-content-between position-relative">
                  <div class="d-flex">
                    <div class="avatar avatar-m status-online me-3"><%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle") %>
                    </div>
                    <div class="flex-1 me-sm-3">
                      <h4 class="fs-9 text-body-emphasis">Herman Carter</h4>
                      <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👤</span>Tagged you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                      <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:58 PM </span>August 7,2021</p>
                    </div>
                  </div>
                  <div class="dropdown notification-dropdown">
                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                  </div>
                </div>
              </div>
              <div class="px-2 px-sm-3 py-3 notification-card position-relative read ">
                <div class="d-flex align-items-center justify-content-between position-relative">
                  <div class="d-flex">
                    <div class="avatar avatar-m status-online me-3"><%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle") %>
                    </div>
                    <div class="flex-1 me-sm-3">
                      <h4 class="fs-9 text-body-emphasis">Benjamin Button</h4>
                      <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                      <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:18 AM </span>August 7,2021</p>
                    </div>
                  </div>
                  <div class="dropdown notification-dropdown">
                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0 border-top border-translucent border-0">
            <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85"><a class="fw-bolder" href="../pages/notifications.html">Notification history</a></div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-l ">
          <%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle") %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border" aria-labelledby="navbarDropdownUser">
        <div class="card position-relative border-0">
          <div class="card-body p-0">
            <div class="text-center pt-4 pb-3">
              <div class="avatar avatar-xl ">
                <%= image_tag("phoenix/assets/img/team/40x40/1.webp", class: "rounded-circle") %>
              </div>
              <h6 class="mt-2 text-body-emphasis">Jerry Seinfield</h6>
            </div>
            <div class="mb-3 mx-3">
              <input class="form-control form-control-sm" id="statusUpdateInput" type="text" placeholder="Update your status" />
            </div>
          </div>
          <div class="overflow-auto scrollbar" style="height: 10rem;">
            <ul class="nav d-flex flex-column mb-2 pb-1">
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="user"></span><span>Profile</span></a></li>
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"><span class="me-2 text-body align-bottom" data-feather="pie-chart"></span>Dashboard</a></li>
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="lock"></span>Posts &amp; Activity</a></li>
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="settings"></span>Settings &amp; Privacy </a></li>
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="help-circle"></span>Help Center</a></li>
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="globe"></span>Language</a></li>
            </ul>
          </div>
          <div class="card-footer p-0 border-top border-translucent">
            <ul class="nav d-flex flex-column my-3">
              <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="user-plus"></span>Add another account</a></li>
            </ul>
            <hr />
            <div class="px-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!"> <span class="me-2" data-feather="log-out"> </span>Sign out</a></div>
            <div class="my-2 text-center fw-bold fs-10 text-body-quaternary"><a class="text-body-quaternary me-1" href="#!">Privacy policy</a>&bull;<a class="text-body-quaternary mx-1" href="#!">Terms</a>&bull;<a class="text-body-quaternary ms-1" href="#!">Cookies</a></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>

<!--
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <%= image_tag "logo.png", width:"40", height:"40", class:"bi me-2" %>
    <span class="fs-4 font-title">Dashboard Chatbot</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to t("layouts.menu.conversations"), :front_conversations, class: "nav-link" %></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
        <%= current_front_user.name %>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-item"><%= link_to t("layouts.menu.profile"), [:front, current_front_user], class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("layouts.menu.logout"), front_logout_path, class: "nav-link" %></li>
      </ul>
    </li>
  </ul>
</header>
-->
