<div class="tab-pane h-100 fade <%= "active show" if active %>"% id="tab-conversation-<%= conversation.id %>" role="tabpanel" aria-labelledby="tab-conversation-<%= conversation.id %>">
  <div class="d-flex flex-column h-100">
    <div class="card-header p-3 p-md-4 d-flex flex-between-center">
      <div class="d-flex align-items-center">
        <button class="btn ps-0 pe-2 text-body-tertiary d-sm-none" data-phoenix-toggle="offcanvas" data-phoenix-target="#chat-sidebar">
          <span class="fa-solid fa-chevron-left"></span>
        </button>
        <div class="d-flex flex-column flex-md-row align-items-md-center">
          <button class="btn fs-7 fw-semibold text-body-emphasis d-flex align-items-center p-0 me-3 text-start" data-phoenix-toggle="offcanvas" data-phoenix-target="#thread-details-<%= conversation.id %>">
            <span class="line-clamp-1"><%= conversation.title %></span>
            <span class="fa-solid fa-chevron-down ms-2 fs-10"></span>
          </button>
          <p class="fs-9 mb-0 me-2"> <span class="fa-solid fa-circle text-success fs-11 me-2"></span>Active now</p>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-icon btn-primary me-1"><span class="fa-solid fa-phone"></span></button>
        <button class="btn btn-icon btn-primary me-1"><span class="fa-solid fa-video"></span></button>
        <button class="btn btn-icon btn-phoenix-primary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis-vertical"></span></button>
        <ul class="dropdown-menu dropdown-menu-end p-0">
          <li><a class="dropdown-item" href="#!">Add to favourites</a></li>
          <li><a class="dropdown-item" href="#!">View profile</a></li>
          <li><a class="dropdown-item" href="#!">Report</a></li>
          <li><a class="dropdown-item" href="#!">Manage notifications</a></li>
        </ul>
      </div>
    </div>
    <div class="card-body p-3 p-sm-4 scrollbar chat-content-body-0" id="messages-list" data-controller="conversation-messages-list">
      <%= turbo_stream_from "#{conversation.id}_messages_stream" %>
      <%= turbo_frame_tag "#{conversation.id}_messages" do %>
        <% conversation.messages.in_order.each do |message| %>
          <%= render partial: "front/messages/message", locals: { message: } %>
        <% end %>
      <% end %>
    </div>

    <div class="card-footer">
      <%= render partial: "/front/messages/form", locals: { conversation:, message: @message } %>
    </div>

    <div class="conversation-details-over phoenix-offcanvas phoenix-offcanvas-top h-100 w-100 bg-body-emphasis scrollbar z-index-0 rounded" id="thread-details-<%= conversation.id %>">
      <div class="border-bottom border-translucent p-4">
        <div class="d-flex flex-between-center">
          <button class="btn p-0" data-phoenix-dismiss="offcanvas"><span class="fa-solid fa-chevron-left text-body-tertiary"></span></button>
          <button class="btn p-0 btn-reveal dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-v text-body-tertiary"></span></button>
          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
          </div>
        </div>
      </div>
      <div class="p-4 px-sm-5 scrollbar">
        <pre>
          <code class="language-json">
<%= conversation.to_json.html_safe %>
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
