<% title t("views.conversations.index.title") %>

<nav class="mb-3 mt-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active"><%= t "layouts.breadcrumbs.conversations" %></li>
  </ol>
</nav>

<div class="row gx-6 gy-3 mb-4 align-items-center">
  <div class="col-auto">
    <h2 class="mb-0">Conversations<span class="fw-normal text-body-tertiary ms-3">(<%= Conversation.count %>)</span></h2>
  </div>
  <div class="col-auto">
    <%= link_to new_front_conversation_path, class: "btn btn-primary px-5" do %>
      <i class="bi bi-plus-lg me-2"></i>Add new conversation
    <% end %>
  </div>
</div>

<%= render partial: "list", locals: { conversations: @conversations } %>

<%= paginate @conversations %>
